<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>THYMELEAF INTRODUTION D.B</title>
<link rel="stylesheet" href="../static/bootstrap.css"
	th:href="@{/bootstrap.css}" />
</head>
<body>
	<header>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="a">Demo</a>
				</div>
				<p class="navbar-text navbar-right"
					th:text="'signed as ' + ${name}+' '+ ${lastName}"
					style="margin-right: 10px;">Anonym</p>
			</div>
		</nav>
	</header>

	<div>Hello World</div>

	<footer class="footer"
		style="position: absolute; bottom: 0; background-color: red;">
		<div class="container">
			<p th:text="${#dates.format(datetime, 'dd MMM YYYY HH:mm:ss')}" class="text-muted"> Page was rendered today</p>
		</div>
</body>
</html>