<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
		<table class="table table-hover">
			<tr>
				<th>Total Cost</th>
				<th>Average Instalment</th>
				<th>Highest Instalment</th>
				<th>Lowest Instalment</th>
			</tr>
			<tr>
				<td class="col-md-" th:text="${decrasingInstalmentTotalCost}"></td>
				<td class="col-md-2" th:text="${decrasingInstalmentAverage}"></td>
				<td class="col-md-2" th:text="${decrasingInstalmentMin}"></td>
				<td class="col-md-2" th:text="${decrasingInstalmentMax}"></td>
				<th><button type="button" class="btn btn-info btn-md"
						data-toggle="modal" data-target="#myModal">list of decrasing installments</button></th>
			</tr>
		</table>
	</div>
	<div>
		<table class="table table-hover">
			<tr>
				<td>Total Cost</td>
				<td>Instalment</td>
			</tr>
			<tr>
				<td th:text="${constantInstalmentTotalCost}"></td>
				<td th:text="${constantInstalment}"></td>
			</tr>
			
		</table>
	</div>

	<div>
		<a th:href="${'/admin/creditcalculator'}">back</a>

	</div>

	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Modal Header</h4>
				</div>
				<div class="modal-body">
					<ol>
						<li th:each="instalment : ${countAllDecreasingInstalment}" th:text="${instalment}"></li>
					</ol>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>

</body>
</html>